<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.ugwulo.afrilang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AfriLang">
        <activity android:name=".AddStudentActivity"></activity>
        <activity android:name=".MainLearningPageActivity" />
        <activity android:name=".PrivateUserRegActivity" />
        <activity android:name=".UserWelcomePageActivity" />
        <activity android:name=".StudentHomePageActivity" />
        <activity android:name=".SchoolLandingPageActivity" />
        <activity android:name=".StudentAssessmentActivity" />
        <activity android:name=".SchoolProfileActivity" />
        <activity android:name=".PrivateUserAssessmentActivity" />
        <activity android:name=".PrivateUserProfileActivity" />
        <activity
            android:name=".SchoolRegistrationActivity"
            android:label="@string/title_activity_school_registration"
            android:theme="@style/Theme.AfriLang.NoActionBar" />
        <activity android:name=".StudentReportActivity" />
        <activity android:name=".StudentProfileActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>